body {
    background-color: #595647;
    color: #fff;
}
h1 {
    color: #a5bfe9;
}

ol li a {
    text-decoration: none;
    color: red;
}

 ol li a:hover { 
    text-decoration: underline;
 }

h2 {
    color: #a5bfe9;
}

div.sub-desc > p{
    color: #ffff00;
}

div.sub-desc p.director-name{
    padding-inline-start: 40px;
    color: #fff;
}


h3 {
    color: #a5bfe9;
}

p {
    color: #fff;
}

p#intro {
    transform: rotateX(180deg);
}

p#intro span {
    color:#cbc08b;
}

p#intro::first-letter{
    font-size: 3em;
}

#mood {
    color: #fff;
}

#mood img {
    height: 194px;
    width: 259px;
}

