body{
  font-size: 18px;
  margin: 0px;
}
p{
  line-height:1.5;
}

a{
  text-decoration: none;
  color: #d9e3dc;
}
.container {
    display: grid;
    grid-template-areas:
      "header header"
      "content nav"
      "footer footer";
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto 300px;
    height: 100vh;
  }

  header {
    grid-area: header;
    display: flex;
    background-image: url("../images/huntington.jpg");
  }

  header .logo{
      display:flex;
      flex-basis: 70%;
      padding: 50px 150px;
  }

  header .view {
    display:flex;
    flex-basis: 30%;
    padding: 50px  50px 50px 150px;
  }

  header .view ul{
    margin-top: 70px;
    list-style: none;
  
  }

  header .view ul li {
    display: inline-block;
    height: 50px;
  }

  header .view ul li a:hover {
    color: #49968e;
  }
  

  header .logo h1 {
      color: #ffffff;
      font-family: system-ui;
      font-weight: lighter;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 0px;
      padding-left: 50px;
  }

  header .logo h2 {
    color: #ffffff;
    margin: 0px;
    font-family: cursive;
    padding-left: 50px;
}

  header .logo img {
      width: 150px;
      height: 150px;
  }
  
  main {
    grid-area: content;
    background-color: #ffffff;
  }

  .main-content {
    padding: 50px 80px 150px 150px;

  }

  .background-image {
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(../image/contours-opaque.png), url(../images/gridlines-opaque.png), url(../images/bamboo.png);
    background-repeat: repeat, repeat, repeat;
  }

  .main-content h1 {
    text-transform: uppercase;
    font-size: 25px;

  }

  p.download a{
    text-decoration: none;
  }

  p.download a:hover{
    text-decoration: none;
    background-color: #0d8ba1;
  }
  
  nav {
    grid-area: nav;
    background-color: #e5ede8;
  }

  nav .side-bar {
    padding: 50px 0px 96px 50px;
  }

  .side-bar2 {
    padding: 50px 0px 289px 50px !important;
  }

  nav .side-bar ul {
    list-style-type: none;
  }

  nav .side-bar li {
    padding: 25px 0px;
    border-bottom: 1px solid #d9e3dc;
  }

  nav .side-bar li a{
    text-decoration: none;
  }

  nav .side-bar li a.design-name{
    display: block;
    color: #49968e;
  }

  nav .side-bar li a.designer-name{
    color: #616857;
  }
  
  footer {
    grid-area: footer;
  }

  footer .advert{
    background-image: url("../images/huntington.jpg");
   
  }

  footer .links{
    background-color: #134347;
    height: 150px;
   
  }

  footer .icons {
    padding: 50px 200px;
  }

  footer p{
    font-family: cursive;
    text-align: center;
    padding-bottom: 3em;
    margin: 0px;
    padding-top: 3em;
    color: #85a09d;
    font-weight: bold;
  }